<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="opeandialog.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="opeandialog.Perspective"
            id="opeanDialog.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="OpenDialog"
            id="opeanDialog.command12"
            name="OpenDialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="filemenu"
               label="File">
            <command
                  commandId="opeanDialog.command12"
                  label="OpenDialog"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
